body {
  border: 15px solid white;
  color: #fff;
  font-family: 'Aleo'; }

.ba-banner {
  height: 100vh; }

.ba-hero {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/foto1.jpg);
  background-color: #000;
  background-size: cover; }
  .ba-hero__wrapper {
    text-align: center;
    font-size: 16px;
    font-family: "Aleo"; }

.ba-menu {
  display: flex;
  align-items: center;
  list-style: none; }
  .ba-menu__item {
    font-size: 18px;
    font-family: "Aleo";
    color: #3b3b3b;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-left: 28px; }
  .ba-menu__link {
    color: inherit;
    text-decoration: none; }

.ba-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px; }
  .ba-items .ba-logo__link {
    color: inherit;
    text-decoration: none;
    font-family: "Aleo";
    font-size: 24px; }

.ba-menu-btn {
  display: flex;
  background-color: black;
  border: none;
  font-size: 28.604px;
  font-family: "Raleway";
  color: #ededed;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  align-items: center; }
  .ba-menu-btn__line {
    width: 20px;
    height: 4px;
    display: block;
    background-color: #fff;
    margin-bottom: 5px;
    margin-left: 5px; }
  .ba-menu-btn__lines {
    padding-top: 5px; }

.ba-items {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .ba-items .ba-logo__link {
    color: inherit;
    text-decoration: none; }

.ba-header {
  background-color: #5474fd; }

.ba-subscribe {
  background-color: #fff;
  padding: 5px;
  width: 650px;
  margin: 0 auto;
  min-height: 60px; }
  .ba-subscribe .ba-subscribe-form {
    display: flex; }
  .ba-subscribe .ba-input {
    border: none;
    flex-grow: 1; }
  .ba-subscribe .ba-btn {
    min-width: 140px;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    border-radius: 2px;
    background-color: #fff;
    color: #5474fd;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.875em;
    padding: 0 2em;
    transition: .4s;
    border: none; }
  .ba-subscribe .ba-btn_green {
    background-color: #5474fd;
    color: #fff; }

.ba-btn:hover {
  opacity: .8; }

::-webkit-input-placeholder {
  color: #c1c1c1;
  text-transform: uppercase; }

/* webkit */
::-moz-placeholder {
  color: #c1c1c1; }

.about {
  padding-top: 40px;
  padding-bottom: 130px;
  color: white; }

.foto {
  background-image: url(../img/Rectangle4142.jpg);
  background-color: #000;
  background-size: cover; }
  .foto .ba-section-image__house {
    padding: 0 125px 0 65px; }
  .foto .ba-section-image__people {
    padding-left: 190px; }

.ba-section-about {
  padding-top: 100px; }
  .ba-section-about .ba-section__title {
    margin-bottom: 50px; }

.ba-btn-about {
  min-width: 220px;
  display: inline-block;
  height: 60px;
  line-height: 26px;
  border-radius: 2px;
  background-color: #5474fd;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 0 2em;
  transition: .4s;
  border: none;
  font-family: "Aleo";
  margin-top: 50px; }

.ba-menu {
  display: flex;
  align-items: center;
  list-style: none; }

.ba-menu-link {
  color: inherit;
  text-decoration: none; }

.ba-section-choose {
  background-color: #333333; }

.chose {
  display: flex;
  height: 330px;
  justify-content: center;
  align-items: center; }

.ba-choose {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }

.ba-look {
  min-width: 540px;
  min-height: 370px;
  background-color: #373430;
  padding: 50px 30px; }

.ba-section-big {
  padding-top: 228px;
  padding-bottom: 100px;
  background-image: url(../img/Rectangle414.jpg);
  background-color: #000;
  background-size: cover; }

.ba-section-last {
  min-height: 100vh;
  background-image: url(../img/Rectangle4142.jpg);
  background-color: #000;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.ba-last-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.ba-include {
  display: flex; }

.ba-footer {
  background-color: black; }

.big-second {
  margin-left: 500px; }

.ba-footer-foto {
  display: flex; }

.ba-footer__title {
  text-align: center; }

.last-footer {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 260px; }

.ba-footer-foto__img:hover {
  background-color: #5474fd;
  transform: scale(1.2); }

.ba-include-text {
  padding: 60px; }
  .ba-include-text .ba-include-text__title {
    font-size: 20px;
    font-family: "Aleo";
    color: white;
    line-height: 26px;
    margin: 0; }

.ba-last-title__text {
  font-size: 36px;
  font-family: "Aleo";
  color: white;
  line-height: 0.722;
  text-align: center;
  margin-top: 15px; }
